<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Orders</a>
                        </li>

                    </ul>
                    <a href="@Url.Action("viewcart","Home")">
                        <div class="me-4">
                            <i class="fa-solid fa-cart-shopping fa-2x"></i><span class="h4" id="counter">0</span>
                        </div>
                    </a>

                </div>
            </div>
        </nav>
        @RenderBody()
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
        <script>

            function addtocart(Product_id) {
                $.ajax({

                    url: "@Url.Action("addtocart","Home")",
                    type: 'POST',
                    data: { Product_id: Product_id },
                    dataType: 'JSON',
                    success: function (res) {
                        document.getElementById("counter").innerHTML = res.length;
                    }
                })
            }

            function increase(Product_id,index) {
                 $.ajax({

                    url: "@Url.Action("increase", "Home")",
                    type: 'POST',
                    data: { Product_id: Product_id },
                    dataType: 'JSON',
                     success: function (res) {
                         document.getElementsByClassName("inc_count")[index].innerHTML = res;
                    }
                })
            }
            function decrease(Product_id,index) {
                 $.ajax({

                    url: "@Url.Action("decrease", "Home")",
                    type: 'POST',
                    data: { Product_id: Product_id },
                    dataType: 'JSON',
                     success: function (res) {
                         document.getElementsByClassName("inc_count")[index].innerHTML = res;
                    }
                })
            }

        </script>
    </body>
</html>